<!-- belltower_list.html -->
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bell Towers</title>
</head>
<body>
    <div class="login-form">
        <h2>Колокольни</h1>
        <ul>
            {% for belltower in belltowers %}
                <li>
                    {{ belltower.belltower_name }}
                    <a href="{% url 'edit_belltower' belltower.pk %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
{% endblock %}
