<!-- edit_belltower.html -->
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Belltower</title>
</head>
<body>
    <div class="login-form">
        <h2>Редактировать колокол</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Render the form fields as paragraphs -->
            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>
{% endblock%}