<!-- home.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <div class="main-page-container">
        <img
    class="bell-icon"
  src="{% static "css/gas-kvas-com-p-devochka-s-kolokolchikom-na-prozrachnom-fo-41.png" %}"
  alt="Grapefruit slice atop a pile of other slices" />
    </div>

    <!-- Add any content you want for your home page -->
</body>
</html>
{% endblock%}